<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>나의 캘린더</title>
	<link href="../image/kp logo.png" rel="shortcut icon" type="image/x-icon">
	<!--<link rel="stylesheet" href="flex-basic.css">-->
	<link rel="stylesheet" href="/css/main.css" type="text/css" />
	
	<!-- swiper css파일을 포함 - 슬라이더 레이아웃과 디자인 적용 -->
	<link rel="stylesheet"
	   href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link href="/css/swiper.css" rel="stylesheet" type="text/css" />
	<link href="/css/calendar.css" rel="stylesheet" type="text/css">
	
	<script src="/js/main.js" defer></script>

	<!-- FullCalendar v5 CSS -->
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" rel="stylesheet" />
	
	<!-- FullCalendar v5 JS -->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>

	<!-- moment.js (FullCalendar에서 필요) -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

</head>
<body>
	<div id="wrap">
	<div th:replace="~{header.html}"></div>
	
		<section class="article1">
			<div id="calendar"></div> <!-- 달력이 표시될 div -->
			<div th:replace="~{modal2.html}"></div>
		</section>
		
		<section class="article2">
			<!-- Swiper 라이브러리 및 슬라이더 -->
			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
			<div class="swiper">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../image/jeju.jpg" alt="jeju festival" width="1000">
						</div>
						<div class="swiper-slide">
							<img src="../image/gangneung.jpg" alt="gangneung festival" width="1000">
						</div>
						<div class="swiper-slide">
							<img src="../image/busan.jpg" alt="busan festival" width="1000">
						</div>
						<div class="swiper-slide">
							<img src="../image/ahnheung.jpg" alt="ahnheung festival" width="1000">
						</div>
					</div>
					<!-- Pagination and Navigation -->
					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
			<script src="/js/swiper.js"></script>
		</section>
		
		<script>
			// HTML 파일을 동적으로 로드하는 함수
			function loadHTML(elementId, url) {
				fetch(url)
					.then(response => response.text())
					.then(data => {
						document.getElementById(elementId).innerHTML = data;
					})
					.catch(error => {
						console.error("Error loading HTML file: ", error);
					});
			}
			
			// 동적 HTML 로딩
			loadHTML('header', 'header.html');
			loadHTML('footer', 'footer.html');
			loadHTML('modal2', 'modal2.html');
			
			// FullCalendar 초기화 코드
			document.addEventListener('DOMContentLoaded', function() {
				var calendarEl = document.getElementById('calendar');

				calendar.render();
			});
		</script>
		
		<div th:replace="~{footer.html}"></div>
	</div>
</body>
</html>
